.multiplication-app {
  text-align: center;
  .multiplication-body{
    position: relative;
   
      .MuiFormControl-root{
        margin-top: 30px;
        margin-bottom: 30px;
      }

    .MuiBottomNavigation-root{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.MuiContainer-root {
  padding: 0 !important;
}
